.nav-bar-main{
    background-color: #fff;
}

.nav-link{
    margin-left: 2rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    color: #000;
}

.navbar-brand{
    font-size: 2.2rem;
    margin-right: 6rem;
    font-weight: 500;
}

.brand-span{
    color: #0d6efd !important;
}